.landing-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    background-color: #060611;
    font-family: 'Poppins', sans-serif;
  }

  .landing-page h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #00aaff;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
  }

  .landing-page h1 span {
    background: linear-gradient(75deg, #00aaff, #ff5733);
    -webkit-background-clip: text;
    color: transparent;
  }

  .landing-page p {
    font-size: 1.2em;
    color: #cccccc;
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  