* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f1e;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* Adjust the width as needed */
  background-color: #0f0f1e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* .sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
} */

.sidebar a {
  color: #cccccc;
  text-decoration: none;
}

.sidebar a:hover {
  color: #0058ff;
}

/* Main Content Styles */
.main-content {
  margin-left: 200px; /* Adjust according to sidebar width */
  padding: 20px;
  background-color: #060611; /* Change background color as needed */
  min-height: 100vh;
  width: 100%;
}
